
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
display: flex;
flex-direction: column;
justify-content:space-between ;
height: 100vh;
font-family: 'Roboto', sans-serif;

}


header{
    display: flex;
    text-align: center;
    height: 15%;
    align-items: center;
    justify-content: center;
    background-color:#3f8f8d ;
    color: white;
    /* font-weight:bold ; */
    font-size: 35px;
}

footer{
    display: flex;
    text-align: center;
    height: 10%;
    align-items: center;
    justify-content: center;
    background-color:#5dc0a6;
    color: white;
    /* font-weight:bold ; */
    font-size: 20px;
}


main {
    display: flex; 
    justify-content: space-around;
}

/* fieldset{
    bottom: 1px solid black;
} */


tr:nth-child(even) {background:#f6b8d1}
tr:nth-child(odd) {background:#ffd3de}

/* 
table, tr {
    border: 1px solid white;

  }


  .table{
      width: 30%;
  } */

  td, th{
    
    padding: 10px  40px;
    text-align: center;
    vertical-align: middle;
    
  }

  #form{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 30%;
height: 20%;


  }
  #formElement{

    width: 100%;
    height: 100%;

  }

  td ,a{
text-decoration: none;
color: black;

  }

  fieldset{

    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
height:200px;
padding: 20px;


  }

#table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 20%;
  } 

  table {
    width: 100%;
  }

  tr {

    border-bottom: 1px solid white;
  }
  table{
    display: flex;
    justify-content: space-between;
    
  }